html,
body {
  height: 100%;
  padding: 0;
}
/* .App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.channels {
  flex-grow: 3;
  max-width: 400px;
  background: violet;
}

.chat {
  flex-grow: 7;
  background: violet;
  display: flex;
  flex-direction: column;
}

.chat header {
  flex-grow: 1;
  max-height: 77px;
  background: yellowgreen;
}

.chat .chats {
  flex-grow: 10;
  background: skyblue;
}

.message {
  flex-grow: 2;
  background: gold;
  max-height: 100px;
}

.channels ul {
  list-style-type: none;
  padding-left: 20px;
}

.channels a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
} */
